.content {
  padding: 5%;
}


.copyright {
  width: 100%;
  text-align: center;
  padding: 20px;
}

.image-right {
  width: 300px;
  float: right;
  padding-left: 5%;
  padding-bottom: 2.5%;
}

.image-left {
  width: 200px;
  float: left;
  padding-right: 5%;
  padding-bottom: 2.5%;
}

img {
  border: 2px solid white;
  width: 100%;
}
