* {
  box-sizing: border-box;
}

.forward {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
}

/* Styling the database */
.gallery {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-left: 4%;
  margin-right: 4%;
}

.column {
  width: 23%;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 1%;
  margin-right: 1%;
}

.content:hover {
  background-color: lightpink;
  padding: 5px;
}

/*Gets rid of dot points*/
ul {
  list-style-type: none;
  padding: 0;
}

.content {
  background-color: white;
  padding: 5px;
}

img {
  width: 100%;
  height: auto;
}

.coming {
  background-color: lightgrey;
  width: 100%;
  padding-top: 75%;
  position: relative;
}

.inside {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding-top: 37.5%;
}

/* Two-column database instead of four */
@media screen and (max-width: 900px) {
  .column {
    width: 48%;
  }
}

/* One-colummn database instead of two */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.copyright {
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}
