<h1 class="title"><a href="/">Dragon Fruit Obsession</a></h1>

<nav class="navbar">
  <a href="/" class="nav" id="home">HOME</a>
  <a href="/analysis/data-analysis.html" class="nav" id=analysis>DATA ANALYSIS</a>
  <div class="dropdown nav" id="how-to-grow">
    <button class="dropbtn">HOW TO GROW <i class="fa fa-caret-down"></i></button>
    <div class="dropdown-content">
      <a href="/how-to-grow/basic-care/basic-care.html">Basic Care</a>
      <a href="/how-to-grow/propagation/propagation.html">Propagation</a>
      <a href="/how-to-grow/trellising-and-pruning/trellising-and-pruning.html">Trellising and Pruning</a>
      <a href="/how-to-grow/pollination-and-harvest/pollination-and-harvest.html">Pollination and Harvest</a>
    </div>
  </div>

  <a href="/other-fruit/other-fruit.html" class="nav" id="other-fruit">OTHER FRUIT</a>
</nav>
