@media screen and (min-width: 800px) {
  .nav {
    width: 25% !important;
  }
}

.content {
  padding: 5%;
}

.three-column {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-column-gap: 5%;
}

img {
  width: 100%;
}
