* {
  box-sizing: border-box;
}

.blank {
  background-color: white;
  height: 92%;
}

.content {
  padding: 2.5% 5% 0% 5%;
  display: inline-grid; /* don't really know why this works (dropdown push down content) */
}


#analysis {
  background-color: mediumvioletred;
}


.img-1 {
  width: 300px;
  height: auto;
  padding-right: 2.5%;
  float: left;
}

#graphs-2022 {
  display: none;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}

.figure {
  min-width: 0;
  width: 49%;
}

.buttons {
  display: inline-block;
  width: 50%;
  float: right;
  padding: 2.5% 2.5% 0% 2.5%;
}

.image-grid :nth-child(1) { order: 1; }
.image-grid :nth-child(2) { order: 3; }
.image-grid :nth-child(3) { order: 2; }
.image-grid :nth-child(4) { order: 4; }
.image-grid :nth-child(5) { order: 5; }
.image-grid :nth-child(6) { order: 7; }
.image-grid :nth-child(7) { order: 6; }
.image-grid :nth-child(8) { order: 8; }


@media screen and (max-width: 700px) {
  .buttons {
    width: 100%;
    padding: 2.5% 0% 2.5% 0%;
  }
  .figure {
    width: 100%;
  }

  .image-grid :nth-child(1) { order: 1; }
  .image-grid :nth-child(2) { order: 2; }
  .image-grid :nth-child(3) { order: 3; }
  .image-grid :nth-child(4) { order: 4; }
  .image-grid :nth-child(5) { order: 5; }
  .image-grid :nth-child(6) { order: 6; }
  .image-grid :nth-child(7) { order: 7; }
  .image-grid :nth-child(8) { order: 8; }

  .img-1 {
    width: 100%;
    padding: 0% 0% 5% 0%;
  }
}



/* overrides default values of <figure> */
figure {
  margin: 0%;
}
